/Exercise6/Exercise6/bin/Debug
/Exercise6/Exercise6/obj/Debug
/Exercise4/Exercise4Tests/obj/Debug
/Exercise4/Exercise4Tests/bin/Debug
/Exercise6/Exercise6Tests/bin/Debug
/Exercise4/Exercise4/bin/Debug
/Exercise6/Exercise6Tests/obj/Debug
/Exercise4/Exercise4/obj/Debug
/Exercise6/.vs
/Exercise4/.vs
