body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #cce2f8;
}

.add-form{
  border: 2px solid #000;
}

.form-control {
  padding: 10px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 90%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-block {
  display: block;
  width: 90%;
}

.red{
  color: crimson;
}

.black{
  color: black;
}
